<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Parametros de configuracao de contexto do servlet da aplicacao web: -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>    
    
    <!-- Inspeciona os parametros do contextConfigLocation. Se nao existir parametro, o listener usa
    /WEB-INF/applicationContext.xml como default. -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- Informa a aplicacao quem sera o servlet Expedidor e qual o momento da sua carga. O servlet controla as
    requisicoes baseada nas configuracoes no arquivo xxxx-servlet.xml; neste caso, dispatcher-servlet.xml 
    Este servlet e o "Front Controller" -->    
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--Definicao do mapeamento das requisicoes -->
    <servlet-mapping> <!-- html mapping - Redundante, devido ao mapeamento abaixo -->
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping> <!-- default mapping -->
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- Tempo de duracao de uma sessao, em caso de inatividade -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- Endereco inicialmente exebido caso se chame a raiz da aplicacao -->
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>

    <!--Forca uso de codificacao UTF-8 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
</web-app>
