<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="br.ufg.inf.maycon.spring.gestaoacademicaweb.model.Docente" />
    </session-factory>
        
</hibernate-configuration>